<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title><ui:insert name="titulo" /></title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputStylesheet name="normalize.css" library="css" />
	<h:outputStylesheet name="bootstrap.css" library="css" />
</h:head>
<h:body>
	<div id="pagina">
		<div id="cabecalho">
			<ui:include src="/templates/cabecalho.xhtml" />
			<div id="botaoLaranjaDiv">
				<a href="https://internetbanking.caixa.gov.br/SIIBC/index.processa" target="_blank">
					<input type="button" value="Acessar minha conta" class="botaoLaranja"/>
				</a>
			</div>
		</div>
		<div id="sidebar">
			<ui:include src="/templates/menu.xhtml" />
		</div>
		<div id="conteudo">
			<ui:insert name="content">
				Conteúdo
			</ui:insert>
		</div>

		<div id="rodape"></div>
	</div>
</h:body>
</html>