<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<h:messages style="list-style: none;" globalOnly="true"
				showSummary="true" />

			<h:panelGrid>
				<h:outputText value="Qual o código do item que você quer excluir? " />
				<h:inputText id="inpExcluir" styleClass="inptus" value="#{cadastroBean.item.codigo}"  required="true" requiredMessage="Campo Obrigatório"/>
				<h:message for="inpExcluir"/>
				<h:commandButton styleClass="botao"
					action="#{cadastroBean.consultarItem}" value="Pesquisar" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
